<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="navBar.css" />
    <link rel="stylesheet" href="table.css" />
    <title>Cart</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/index.html">Easy Product</a>
        <form action="/search" class="search">
          <input
            type="search"
            class="searchBar"
            name="product"
            placeholder="Search... "
          />
        </form>
        <nav>
          <ul>
            <li>
              <a href="cart"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
              <a href="account"><i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="logout"><i class="fa fa-sign-out"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-bars" onclick="openNav()"></i></a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="index.html"> Home </a>
        <a href="dashboard"> Dashboard </a>
        <a href="product.html"> Product </a>
        <a href="invoice.html"> Invoice </a>
        <a href="vendor.html"> Vendor </a>
        <a href="purchaseOrder.html"> Purchase Order </a>
        <a href="tag">Create Tags</a>
        <a href="vendorPage">Create Vendor</a>

        <a href="upload.html">Upload </a>
      </div>
      <main>
        <h1>Cart</h1>
        <div class="table-wrapper">
          <table class="fl-table">
            <tr>
              <th>Vendor</th>
              <th>Cart1</th>
              <th>Cart2</th>
              <th>Cart3</th>
            </tr>
            <% for (info of result){ %>
            <tr class="vendorData">
              <td><%= info.vendorName %></td>
              <td>
                <a
                  class="rowData"
                  href="/shoppingCart1?vendor=<%= info.vendorName %>&cart=cart1"
                  >$<%= info.cart1Amount %> (<%= info.cart1%> Units)</a
                >
              </td>
              <td>
                <a
                  class="rowData"
                  href="/shoppingCart2?vendor=<%= info.vendorName %>&cart=cart2"
                  >$<%= info.cart2Amount %> (<%= info.cart2%> Units)</a
                >
              </td>
              <td>
                <a
                  class="rowData"
                  href="/shoppingCart3?vendor=<%= info.vendorName %>&cart=cart3"
                  >$<%= info.cart3Amount %> (<%= info.cart3%> Units)</a
                >
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </main>
    </div>
  </body>
  <script src="/script/cart.js"></script>
  <script src="/script/navBar.js"></script>
</html>
