<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="navBar.css" />
    <link rel="stylesheet" href="table.css" />
    <link rel="stylesheet" href="detail.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>PurchaseOrder <%= result[0].id %></title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">Easy Product</a>
        <form action="/search" class="search">
          <input
            type="search"
            class="searchBar"
            name="product"
            placeholder="Search... "
          />
        </form>
        <nav>
          <ul>
            <li>
              <a href="cart"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
              <a href="account"><i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="logout"><i class="fa fa-sign-out"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-bars" onclick="openNav()"></i></a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="/"> Home </a>
        <a href="/dashboard"> Dashboard </a>
        <a href="/productFilter"> Product </a>
        <a href="/invoiceFilter"> Invoice </a>
        <a href="/vendorSelect"> Vendor </a>
        <a href="/purchaseOrderSelect"> Purchase Order </a>
        <a href="/tag">Create Tags</a>
        <a href="/vendorPage">Create Vendor</a>
        <a href="/upload">Upload </a>
      </div>

      <main>
        <div class="container">
          <div class="row">
            <h2>PO Number:</h2>
            <h3><%= result[0].id %></h3>
            <h2>Invoice ID:</h2>
            <h3><%= result[0].invoiceID %></h3>
          </div>
          <div class="row">
            <h2>Status: <small> <%= result[0].status %></small></h2>
            <h2>Vendor:<small> <%= result[0].vendorName %></small></h2>
            <h2>ETA: <small> <%= result[0].ETA %></small></h2>
          </div>
          <div class="row">
            <h2>SKU: <small id="sku"></small></h2>
            <h2>Quantity: <small id="quantity"></small></h2>
            <h2>Amount: <small id="amount"></small></h2>
          </div>
        </div>
        <div class="table-wrapper">
          <table id="customers" class="fl-table">
            <tr>
              <th>Product ID</th>
              <th>Model No</th>
              <th>Quantity</th>
              <th>Vendor Price</th>
              <th>ETA</th>
              <th>Status</th>
            </tr>
            <% for (info of result){ %>
            <tr class="rowData">
              <td><%= info.product_id %></td>
              <td><%= info.modelNO %></td>
              <td class="quantity"><%= info.quantity %></td>
              <td class="price"><%= info.vendorPrice %></td>
              <td><%= info.ETA %></td>
              <td><%= info.status %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </main>
    </div>
  </body>
  <script src="/script/navBar.js"></script>
  <script src="/script/poEjs.js"></script>
</html>
