<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>po</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="table.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="header">
      <nav>
        <ul>
            <li style="width: 5%; margin-top: px;" >
                <span style="cursor: pointer; font-size: 26px;" onclick="openNav()"> &#9776</span>
              </li>
          <li style=" margin:0px auto; width: 85%;">
            
            <form action="/search" style="margin: 0 auto;">
              <input
                type="search"
                class="searchBar"
                name="product";
                width="100%"
              />
              <select name="searchBy" class="searchBar">
                <option value="title" class="searchBar">Product Title</option>
                <option value="id" class="searchBar">Product ID</option>
              </select>

            </form>
          </li>
          <li style="width: 3%; float: right; margin-right: 15px;">
            <a href="logout"><i class="fa fa-sign-out" style="font-size: 25px;"></i></a>
          </li>
          <li style="width: 3%; float: right; margin-right: 15px;" >
          <a href="cart"><i class="fa fa-shopping-cart" style="font-size: 25px;"></i></a>
        </li>
          
        </ul>
      </nav>
    </header>
  
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="index.html"> Home </a>
        <a href="dashboard"> Dashboard </a>
        <a href="product.html"> Product </a>
        <a href="invoice.html"> Invoice </a>
        <a href="vendor.html"> Vendor </a>
        <a href="purchaseOrder.html"> Purchase Order </a>
        <a href="tag">Create Tags</a>
        <a href="vendorPage">Create Vendor</a>
        
        <a href="upload.html">Upload </a>
        
      </div>


    <h1>Purchase Order List</h1>
    <div class="table-wrapper">
      <table class="fl-table">
        <button id="hide" onclick="filter(this)" style="float: left;color: #2564cf;
        width: 230px;
        margin-left: 0px;
        height: 30px;
        font-weight: bold;">Only Show Delay Order</button>
      <tr>
        <th>PO Number</th>
        <th>Invoice Number</th>
        <th>Vendor</th>
        <th>ETA</th>
        <th>Status</th>
      </tr>
      <% for (info of result){ %>
      <tr>
        <td><a href="/poDetail?id=<%= info.id %>"> <%= info.id %> </a></td>
        <td><%= info.invoiceID %></td>
        <td><%= info.vendorName %></td>
        <td class="eta"><%= info.ETA %></td>
        <td class="status"><%= info.status %></td>
      </tr>
      <% } %>
    </table>
    </div>
  </body>
  <script src="/script/navBar.js"></script>
  <script src="/script/po.js"></script>
</html>
