<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase Order List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="navBar.css" />
    <link rel="stylesheet" href="table.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">Easy Product</a>
        <form action="/search" class="search">
          <input
            type="search"
            class="searchBar"
            name="product"
            placeholder="Search... "
          />
        </form>
        <nav>
          <ul>
            <li>
              <a href="cart"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
              <a href="account"><i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="logout"><i class="fa fa-sign-out"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-bars" onclick="openNav()"></i></a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="/"> Home </a>
        <a href="/dashboard"> Dashboard </a>
        <a href="/productFilter"> Product </a>
        <a href="/invoiceFilter"> Invoice </a>
        <a href="/vendorSelect"> Vendor </a>
        <a href="/purchaseOrderSelect"> Purchase Order </a>
        <a href="/tag">Create Tags</a>
        <a href="/vendorPage">Create Vendor</a>
        <a href="/upload">Upload </a>
      </div>

      <main>
        <div class="topInfo">
          <h1>Purchase Order List</h1>
          <button id="hide" onclick="filter(this)">
            Only Show Delay Order
          </button>
        </div>
        <div class="table-wrapper">
          <table class="fl-table">
            <tr>
              <th>PO Number</th>
              <th>Invoice Number</th>
              <th>Vendor</th>
              <th>ETA</th>
              <th>Status</th>
            </tr>
            <% for (info of result){ %>
            <tr>
              <td>
                <a href="/poDetail?id=<%= info.id %>"> <%= info.id %> </a>
              </td>
              <td><%= info.invoiceID %></td>
              <td><%= info.vendorName %></td>
              <td class="eta"><%= info.ETA %></td>
              <td class="status"><%= info.status %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </main>
    </div>
  </body>
  <script src="/script/navBar.js"></script>
  <script src="/script/po.js"></script>
</html>
